/* PHOTO */

.photo-block {
    padding-bottom: 70px;
}

.photo {

    &__title {
        margin-bottom: 38px;
    }
    
    &__item {
        position: relative;
        display: block;
        width: 22%;
    }
    
    &__img {
        width: 100%;
    }
    
    &__item:last-child {
        margin-right: 0;
    }
    
    &__item:hover .shadow {
        visibility: visible;
        opacity: 1;
    }
}

.shadow {
    background: rgba(154, 151, 167, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 99%;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
    border: 7px #9a97a7 solid;

    &__item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.fa-expand {
    color: #fff;
    font-size: 30px;
    transition: 0.5s;
}

.fa-expand:hover {
    font-size: 33px;
    transition: 0.5s;
}