/* PHOTO */

.photo-block {
    padding-bottom: 70px;
}

.photo {

    &__title {
        margin-bottom: 38px;
    }
    
    &__item {
        position: relative;
        display: block;
        width: 22%;

        &:hover {

            &::after {
                opacity: 1;
            }

            .photo__icon {
                opacity: 1;
            }
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            display: block;
            width: 100%;
            height: 99%;
            background: rgba(154, 151, 167, 0.7);
            border: 7px #9a97a7 solid;
            opacity: 0;
            transition: .3s;
            box-sizing: border-box;
        }
    }
    
    &__img {
        width: 100%;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        z-index: 3;
        opacity: 0;
        transition: .3s;
        font-size: 30px;

        &:hover {
            transform: translate(-50%, -50%)  scale(1.2);
        }
    }
}

.shadow {
    background: rgba(154, 151, 167, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 99%;
    opacity: 0;
    transition: all 0.5s ease;
    visibility: hidden;
    border: 7px #9a97a7 solid;

}